@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style=" background-color:aquamarine"
<h1> Displays very sensitive data </h1>
</div>